@use '@angular/material' as mat;
@use './app/common/header/header.component.scss' as header;
@use './app/common/footer/footer.component.scss' as footer;

@include mat.core();

$guess-who-admin-primary: mat.define-palette(mat.$brown-palette, 900);
$guess-who-admin-accent: mat.define-palette(mat.$orange-palette, A200, A400, A700);
$guess-who-admin-warn: mat.define-palette(mat.$red-palette);
$guess-who-admin-theme: mat.define-light-theme((
  color: (
    primary: $guess-who-admin-primary,
    accent: $guess-who-admin-accent,
    warn: $guess-who-admin-warn,
  )
));

.light-mode {
  @include mat.core-color($guess-who-admin-theme);
  @include mat.all-component-themes($guess-who-admin-theme);
  @include header.theme($guess-who-admin-theme);
  @include footer.theme($guess-who-admin-theme);
}

$guess-who-admin-theme-dark: mat.define-dark-theme((
  color: (
    primary: $guess-who-admin-primary,
    accent: $guess-who-admin-accent,
    warn: $guess-who-admin-warn,
  )
));

.dark-mode {
  @include mat.core-color($guess-who-admin-theme-dark);
  @include mat.all-component-themes($guess-who-admin-theme-dark);
  @include header.theme($guess-who-admin-theme-dark);
  @include footer.theme($guess-who-admin-theme-dark);

  html, body {
    background-color: mat.get-color-from-palette($guess-who-admin-primary, 400);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  min-height: 70%;
  margin: 15px 10px 15px 10px;
}

.container {
  padding: 10px;
}

.center {
  margin: auto;
}

.right {
  float: right;
  margin: 10px;
}

.mat-mdc-card-content {
  margin-top: 20px;
}

.mat-mdc-form-field {
  width: 100%;
}
