<mat-card>
    <mat-card-header class="card-title">
        <mat-toolbar color="primary">
            <h3>{{ card.name }}</h3>
            <span class="example-spacer"></span>
            <mat-divider vertical></mat-divider>
            <span>{{ getStatus() }}</span>
            <mat-divider vertical></mat-divider>
            <button mat-mini-fab color="accent" matTooltip="Confirmar" class="action-button"
                aria-label="Confirmar as alterações." disabled="{{ !canConfirm() }}" (click)="confirm()">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-mini-fab color="accent" matTooltip="Cancelar" (click)="back()" class="action-button"
                aria-label="Desfaz as alterações e retorna a página de pesquisa.">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
    </mat-card-header>

    <mat-card-content>
        <section class="container">
            <article class="card-image">
                <app-card-form-image
                    [image]="card.image"
                    [readonly]="!isEditing()"
                    (onChange)="imageChange($event)">
                </app-card-form-image>
            </article>

            <article class="card-data">
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" id="name" [(ngModel)]="card.name" (keyup)="onEdit($event)"
                        placeholder="Nome do personagem" disabled="{{ !isEditing() }}">
                </mat-form-field>

                <app-questions-list
                    [questions]="card.questions"
                    [readonly]="!isEditing()"
                    (onChange)="questionsChange($event)">
                </app-questions-list>
            </article>
        </section>
    </mat-card-content>
</mat-card>