<mat-toolbar color="primary" class="mat-toolbar-header">
  <mat-toolbar-row>
    <h1>{{ title }}</h1>

    <span class="example-spacer"></span>

    <span *ngIf="isLogged()" class="container">
      <span>Bem vindo: {{ name() }}</span>
      <button (click)="logout()" mat-icon-button class="example-icon" matTooltip="Sair"
        aria-label="Encerrar a sessão do usário.">
        <mat-icon>logout</mat-icon>
      </button>
    </span>

    <mat-divider vertical></mat-divider>

    <button (click)="toggle()" mat-icon-button class="example-icon" matTooltip="{{ iconTooltip() }}"
      aria-label="Trocar o modo do tema entre escuro ou claro.">
      <mat-icon>{{ icon() }}</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>