.notifier-icon {
    transform: scale(2);
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.notifier-message {
    flex: 1 1 auto;
    white-space: pre-line;
}

.notifier-close {
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    align-items: center;
    padding: 15px;
}